body {
    border: thick;
    background-color: palegreen;
}

p.one {
    border-style: solid;
    border-width: 20px;
}

p.two {
    border-width: thick;
}

p.three {
    border-width: 1px 4px 12px 4px;
}

div {
    border: thick;
}